@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@700&display=swap');
.container{
    display: flex;
    padding:0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: bisque;
}
.buddify{
    margin-top: 50px;
    position: fixed;
    left:430px;
    font-size: 200px;
}
.buddify:nth-child(1){
    color: transparent;
    -webkit-text-stroke:8px black;
}
.button{
    text-align: center;
    display: block;
    background-color: black;
    color: white;
    font-size: 29px;
    padding-top: 8px;
    width: 280px;
    height:50px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Caveat Brush', cursive;
}
.content{
    position: absolute;
    margin-left: 450px;
    margin-top:300px;
}